* {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

head{
    
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-family: sans-serif;
}
/* This applies a moving background to the website*/
body{
    background-image: url('http://i.stack.imgur.com/kx8MT.gif');
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    padding:0;
    margin:0;
}

/* Begins Flex Styling for The Header */
.site-header {
    
    background-color: #1F2937;
    padding: 10px 20px;

}

.site-header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 49px;
    margin-right: 100px;
}

.site-header nav ul {
    display: flex;
    
    
}
/* WELCOME */
.welcome {
  padding: 7em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.welcome .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.welcome .right {
  flex-shrink: 0;
  width: 50%;
}

.hero {
  color: #F9FAF8;
  font-weight: 900;
  font-size: 48px;
}

button {
  padding: 7px 1em;
  width: 120px;
  background-color: #3882F6;
  border-radius: 8px;
}

.welcome button {
  border: none;
}

.image {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 215px;
}

/* Logo styling*/
.brand {
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin-left: 5%;
}
.item  {
    list-style: none;
}
.item a{
    color: white;
    
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
}

/* End of Header Syling */

/*Beginning of body styling*/
/* CARD SECTION */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 13em;
  margin-top: 3em;
}

main h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3em 0 6em 0;
}

.card {
  text-align: center;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

.square {
  border: 4px solid #3882F6;
  border-radius: 20px;
  width: 160px;
  height: 160px;
}

/* QUOTE */
.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E5E7EB;
  padding: 7em 13em;
}

.quote p {
  align-self: flex-end;
  font-weight: bolder;
  font-size: 24px;
  color: #1f2937;
}

.quote em {
  font-size: 36px;
  font-weight: 100;
  color: #1f2937;
}


.myButton {
	background-color:#3882f6;
  border-color: #1F2937;
	border-radius:28px;
	border:1px solid #3882f6;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}



/*End of head banner*/

/*Start of Some Random Information*/

.flex-container {
    display: flex;
    flex-direction: column; 
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container div {
    background: white;
    height: 200px;
    flex: 1 1 auto;
  }

  .container {
    height: 140px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
  }
  
  .one {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .one h2{
    font-size: 36px;
    color: #1f2937;
    
  }
  .item1 {
    width: 50px;
    height: 60px;
    border: 4px solid #3882f6;
    background: skyblue;
    border-radius: 16px;
    display: flex;
    justify-content: center;
  }

  .item1-1 {
      width: 50px;
      height: 20px;
  }
  .flex-container1 div {
    background: white;
    height: 100px;
    flex: 1 1 auto;
  }

  .container1 {
    height: 10px;
    margin-top: 10px;
    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
  }
  

  .item2 {
    
    width: 50px;
    height: 30px;
    
   
    border-radius: 16px;
    display: flex;
    justify-content: center;
    
  }

  .item2 p {
    font-size: 18px;
    padding-left: 25px;
    color: #1f2937;
    
  }

/*End of Some Random Information*/

/*Start of the quote container*/
/*Start of the quote container*/
.quote-container div {
    background: #e5e7eb;
    height: 200px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 37px;
  }
  .author {
    font-size: 18px;
}

/*End of the quote container*/

/*Start of the block container*/
/* SIGN UP */
.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 13em;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882F6;
  padding: 3em;
  width: 100%;
  border-radius: 10px;
}

.container button {
  border: 2px solid #FFF;
}

strong {
  font-size: 24px;
  color: #FFF;
}

/*End of the block container*/

/*Start of the block container*/
/* FOOTER */
footer {
  background-color: #1f2937;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}
/*End of the block container*/