* {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

head{
    
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-family: sans-serif;
}
/* This applies a moving background to the website*/
body{
    background-image: url('http://i.stack.imgur.com/kx8MT.gif');
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    padding:0;
    margin:0;
}

/* Begins Flex Styling for The Header */
.site-header {
    
    background-color: #1F2937;
    padding: 10px 20px;

}

.site-header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 49px;
    margin-right: 100px;
}

.site-header nav ul {
    display: flex;
    
    
}

/* Logo styling*/
.brand {
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin-left: 5%;
}
.item  {
    list-style: none;
}
.item a{
    color: white;
    
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
}

/* End of Header Syling */

/*Beginning of body styling*/
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.inner1 {
    margin: 100px;
    padding: 10px;
}

.inner1  h2{
    color: white;
    font-size: 48px;
    
}

.myButton {
	background-color:#3882f6;
	border-radius:28px;
	border:1px solid #3882f6;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}


.inner1 p {
    color: #E5E7E8;
    font-size: 18px;
}

.inner2  img{
    margin: 100px;
    width: 400px;
    height: 250px;
}

/*End of head banner*/

/*Start of Some Random Information*/

.flex-container {
    display: flex;
    flex-direction: column; 
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container div {
    background: white;
    height: 200px;
    flex: 1 1 auto;
  }

  .container {
    height: 140px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
  }
  
  .one {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .one h2{
    font-size: 36px;
    color: #1f2937;
    
  }
  .item1 {
    width: 50px;
    height: 60px;
    border: 4px solid #3882f6;
    background: skyblue;
    border-radius: 16px;
    display: flex;
    justify-content: center;
  }

  .item1-1 {
      width: 50px;
      height: 20px;
  }
  .flex-container1 div {
    background: white;
    height: 100px;
    flex: 1 1 auto;
  }

  .container1 {
    height: 10px;
    margin-top: 10px;
    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
  }
  

  .item2 {
    
    width: 50px;
    height: 30px;
    
   
    border-radius: 16px;
    display: flex;
    justify-content: center;
    
  }

  .item2 p {
    font-size: 18px;
    padding-left: 25px;
    color: #1f2937;
    
  }

/*End of Some Random Information*/

/*Start of the quote container*/
.quote-container div {
    background: #e5e7eb;
    height: 200px;
    flex: 1 1 auto;
  }
/*End of the quote container*/

/*Start of the block container*/
.block-container div {
    background: white;
    height: 200px;
    flex: 1 1 auto;
  }
/*End of the block container*/

/*Start of the block container*/
.footer-container div {
    background: #1F2937;
    height: 200px;
    flex: 1 1 auto;
  }
/*End of the block container*/