* {
    padding: 0;
    margin: 0;
    font-size: 12px;
}
/* This applies a moving background to the website*/
body{
    background-image: url('http://i.stack.imgur.com/kx8MT.gif');
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    padding:0;
    margin:0;
}
/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    background: #222;
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
}

.box-one{
    display: flex;
 

}

.menu,


.item.button {
    padding: 9px 5px;
}

.menu {
  
   
    /* This aligns items to the end line on main-axis */
    justify-content: flex-end;
    display: flex; 

}

.logo a {
   
    font-size: 40px;
    text-decoration: none;
    color: white;
    

}
.menu-inner{
   
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.item {
    padding: 10px;
    color: white;
    list-style: none;
    display: flex; 
   
}
.item a {
    
    
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

